/**
 * Estilos para los componentes del sistema SRI
 * Usa el sistema de componentes.css en español
 */
.contenido-form {
  font-size: (--tamanio-fuente-campo);
  padding: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.formulario {
  display: flex;
  flex-direction: column;
}

.titulo h1,
.titulo {
  font-size: var(--tamanio-titulo);
  text-align: left;
  font-weight: bold;
  -webkit-margin-before: 3px;
  -webkit-margin-after: 5px;
}

.instrucciones {
  font-size: var(--tamanio-fuente-instruccion);
  margin-top: 2px;
  margin-bottom: 7px;
  text-align: left;
}

.resumenDataTable {
  font-weight: bold;
  margin-top: 2px;
  margin-bottom: 7px;
  text-align: center;
}

.subtitulo {
  font-size: var(--tamanio-subtitulo);
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: left;
}

.descripcion {
  font-size: var(--tamanio-fuente-instruccion);
  margin-top: -2px;
  margin-bottom: 7px;
}

h2 {
  font-size: var(--tamanio-subtitulo);
}

h3 {
  font-size: var(--tamanio-fuente-h3);
  text-align: left;
}

h4 {
  font-size: var(--tamanio-fuente-h4);
}

h5 {
  font-size: var(--tamanio-fuente-h5);
  text-align: left;
}

h6 {
  font-size: var(--tamanio-fuente-h6);
  text-align: left;
}

/* Input  - Textarea*/

input,
.p-inputtext {
  height: 25px;
  border: solid 0.5px var(--color-gris-neutro);
  padding: 0 2px;
  border-radius: 0;
  color: var(--color-gris-fuerte);
  width: 100%;
  /* width: 10rem; */
}

textarea {
  border: solid 0.5px var(--color-gris-neutro);
  padding: 0 2px;
  border-radius: 0;
  color: var(--color-gris-fuerte);
  min-height: 75px !important;
  min-width: 300px !important;
  resize: none !important;
}

input:focus-visible,
.p-inputtext:focus-visible {
  outline: 0 none;
}

input:active,
input:focus,
.p-inputtext:active,
.p-inputtext:focus,
.p-inputtext:enabled:focus,
.p-inputtext:hover,
textarea:active,
textarea:focus {
  outline: 0 none;
  text-decoration: none;
  border: none;
  border-color: transparent;
  border-bottom: solid 2px var(--color-azul-principal);
  box-shadow: 0;
}

input::placeholder,
textarea::placeholder,
.p-inputtext::placeholder,
.p-inputtext:enabled:hover {
  font-style: italic;
  margin-block: auto;
  border-color: var(--color-azul-fuerte);
}

input.p-inputtext.p-component .p-disabled:hover {
  border-bottom: none;
}

/******** tooltip primevue ***********/
.p-tooltip .p-tooltip-text {
  background-color: var(--color-celeste);
  color: var(--color-gris-fuerte);
  font-size: 12px;
  border-radius: 4px;
  padding: 3px;
}

/********************************************/
/************* botones **********************/
/********************************************/

/********** boton principal **************/
button.p-button {
  margin: var(--btn-espaciado);
  background-color: var(--btn-principal);
  border-color: var(--btn-principal);
  border-radius: var(--btn-border-radius);
  font-weight: 500;
  font-size: var(--btn-tamanio-fuente);
  height: var(--btn-tamanio-y);
  width: auto;
  color: var(--btn-principal-fuente-color);
  padding: 0 25px;
}

button.p-button:hover,
button.p-button:enabled:hover {
  background-color: var(--btn-principal-hover);
  border-color: var(--btn-principal-hover);
}

button.p-button:active,
button.p-button:enabled:active {
  background-color: var(--btn-principal-activo);
  border-color: var(--btn-principal-activo);
}

/********** boton secundario (cancel) **************/
button.p-button.p-button-secondary,
button.p-buttonset.p-button-secondary>button.p-button,
button.p-splitbutton.p-button-secondary>button.p-button {
  background-color: var(--btn-secondary);
  border-color: var(--color-gris-claro);
  color: var(--color-gris-fuerte);
}

button.p-button.p-button-secondary:enabled:hover,
button.p-buttonset.p-button-secondary>button.p-button:enabled:hover,
button.p-splitbutton.p-button-secondary>button.p-button:enabled:hover {
  background-color: var(--btn-secondary-hover);
  border-color: var(--color-gris-claro);
  color: var(--color-gris-fuerte);
}

button.p-button.p-button-secondary:active,
button.p-button.p-button-secondary:enabled:active,
button.p-buttonset.p-button-secondary>button.p-button:enabled:active,
button.p-splitbutton.p-button-secondary>button.p-button:enabled:active {
  background-color: var(--btn-secondary-activo);
  border-color: var(--color-gris-claro);
  color: var(--color-gris-fuerte);
}

/********** boton exito **************/
button.p-button.p-button-success,
button.p-buttonset.p-button-success>button.p-button,
button.p-splitbutton.p-button-success>button.p-button {
  background-color: var(--btn-success);
  border-color: var(--btn-success);
  color: var(--btn-success-fuente-color);
}

button.p-button.p-button-success:hover,
button.p-button.p-button-success:enabled:hover,
button.p-buttonset.p-button-success>button.p-button:enabled:hover,
button.p-splitbutton.p-button-success>button.p-button:enabled:hover {
  background-color: var(--btn-success-hover);
  border-color: var(--btn-success-hover);
}

button.p-button.p-button-success:active,
button.p-button.p-button-success:enabled:active,
button.p-buttonset.p-button-success>button.p-button:active,
button.p-splitbutton.p-button-success>button.p-button:active {
  background-color: var(--btn-success-activo) !important;
  border-color: var(--btn-success-activo) !important;
}

/********** boton warning **************/
button.p-button.p-button-warning,
button.p-buttonset.p-button-warning>button.p-button,
button.p-splitbutton.p-button-warning>button.p-button {
  background-color: var(--btn-warning);
  border-color: var(--btn-warning);
  color: var(--btn-warning-fuente-color);
}

button.p-button.p-button-warning:hover,
button.p-button.p-button-warning:enabled:hover,
button.p-buttonset.p-button-warning>button.p-button:enabled:hover,
button.p-splitbutton.p-button-warning>button.p-button:enabled:hover {
  background: var(--btn-warning-hover);
  color: var(--btn-warning-fuente-color);
  border-color: var(--btn-warning-hover);
}

button.p-button.p-button-warning:active,
button.p-button.p-button-warning:enabled:active,
button.p-buttonset.p-button-warning>button.p-button:enabled:active,
button.p-splitbutton.p-button-warning>button.p-button:enabled:active {
  background: var(--btn-warning-activo);
  color: var(--btn-warning-fuente-color);
  border-color: var(--btn-warning-activo);
}

/********** boton info **************/
button.p-button.p-button-info,
button.p-buttonset.p-button-info>button.p-button,
button.p-splitbutton.p-button-info>button.p-button {
  background: var(--btn-info);
  border-color: var(--btn-info);
}

button.p-button.p-button-info:hover,
button.p-button.p-button-info:enabled:hover,
button.p-buttonset.p-button-info>button.p-button:enabled:hover,
button.p-splitbutton.p-button-info>button.p-button:enabled:hover {
  background: var(--btn-info-hover);
  border-color: var(--btn-info-hover);
}

button.p-button.p-button-info:active,
button.p-button.p-button-info:enabled:active,
button.p-buttonset.p-button-info>button.p-button:enabled:active,
button.p-splitbutton.p-button-info>button.p-button:enabled:active {
  background: var(--btn-info-activo);
  border-color: var(--btn-info-activo);
}

/********** boton help **************/
button.p-button.p-button-help,
button.p-buttonset.p-button-help>button.p-button,
button.p-splitbutton.p-button-help>button.p-button {
  background: var(--btn-celeste);
  border-color: var(--btn-celeste);
  color: var(--btn-celeste-fuente);
}

button.p-button.p-button-help:enabled:hover,
button.p-buttonset.p-button-help>button.p-button:enabled:hover,
button.p-splitbutton.p-button-help>button.p-button:enabled:hover {
  background: var(--btn-celeste-hover);
  color: var(--btn-celeste-fuente);
  border-color: var(--btn-celeste-hover);
}

button.p-button.p-button-help:enabled:active,
button.p-buttonset.p-button-help>button.p-button:enabled:active,
button.p-splitbutton.p-button-help>button.p-button:enabled:active {
  background: var(--btn-celeste-activo);
  color: var(--btn-celeste-fuente);
  border-color: var(--btn-celeste-activo);
}

/********** boton con icono agregar **************/
button.p-button.p-component.p-button-icon-only.p-button-secondary.p-button-plus {
  color: var(--color-verde-fuerte);
  font-weight: 900;
  font-size: 20px;
  border: none;
}

span.pi.pi-plus.p-button-icon:before {
  font-family: 'sri-icon', Arial, Helvetica, sans-serif;
}

/********** Fieldset *************/
.p-fieldset {
  border: 1px solid var(--color-gris-neutro);
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.p-fieldset .p-fieldset-legend {
  width: 100%;
  background-color: var(--color-azul-principal);
  border: none;
  border-radius: 0;
  padding: 0.5rem;
  align-items: flex-start;
  display: flex;
}

.p-fieldset.p-fieldset-toggleable .p-fieldset-legend {
  transition: none;
}

.p-fieldset.p-fieldset-toggleable .p-fieldset-legend a .p-fieldset-toggler {
  margin-top: -5px;
}

.p-fieldset.p-fieldset-toggleable .p-fieldset-legend a {
  justify-content: left;
  color: var(--color-blanco);
  font-size: 14px;
  padding: 0.5rem;
}

.p-fieldset-legend>a,
.p-fieldset-legend>span {
  justify-content: left;
  color: var(--color-blanco);
  font-size: 14px;
}

.p-fieldset.p-fieldset-toggleable .p-fieldset-legend:hover {
  background-color: var(--color-azul-principal);
}

.p-fieldset.p-fieldset-toggleable .p-fieldset-legend a:hover {
  color: var(--color-gris-medio);
  background-color: var(--color-celeste);
  border: 1px solid var(--color-gris-neutro);
  width: 100%;
}

span.p-fieldset-toggler.pi.pi-plus:before {
  content: '\25bc';
}

span.p-fieldset-toggler.pi.pi-minus:before {
  content: '\25B6';
}

.p-fieldset .p-fieldset-content {
  text-align: left;
}

/***** borde celeste *********/
.p-fieldset.p-fieldset-toggleable .p-fieldset-legend a:focus {
  box-shadow: none;
}

.p-panelmenu {
  gap: 0;
}

/*************** tab*****************************/

.p-tab {
  padding: var(--p-tabs-tab-padding);
  border: 2px solid var(--color-gris-claro);
  color: var(--color-azul-principal);
  font-weight: 600;
  font-size: 16px;
}

.p-tab:not(.p-tab-active):hover {
  background-color: #daeef6;
  border-radius: 0;
  border-bottom: 1.5px solid #4fc1ea;
  border-right: 2px solid #e7eaee;
}

.p-tabpanel {
  color: var(--color-gris-fuerte);
  text-align: left;
}

.p-tab-active {
  background: var(--color-amarillo-claro);
  border-radius: 0;
  color: var(--color-gris-fuerte);
  border-color: var(--color-amarillo-claro);
  /* padding: 0.6rem;
  border-right: 2px solid var(--color-gris-claro);*/
}

/************** tabview ***/
/* .p-tabview .p-tabview-nav {
  border: 2px solid var(--color-gris-claro);
  justify-content: space-between;
}
.p-tabview .p-tabview-nav li {
  width: 100%;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  padding: 0.6rem;
  border-right: 2px solid var(--color-gris-claro);
}
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: var(--color-amarillo-claro);
  border-radius: 0;
  color: var(--color-gris-fuerte);
  border-color: var(--color-amarillo-claro);
} */

/** estado hover de tabview*/
/* .p-tabview .p-tabview-nav li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
  background-color: var(--color-celeste);
  border-radius: 0;
  border-bottom: 1.5px solid var(--color-cyan-claro);
  border-right: 2px solid var(--color-gris-claro);
} */
/**borde celeste*/
/* .p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
  box-shadow: none;
}
.p-tabview-panel {
  color: var(--color-gris-fuerte);
  text-align: left;
}
.p-tabview .p-tabview-panels {
  border: 2px solid;
  border-color: transparent var(--color-gris-claro) var(--color-gris-claro) var(--color-gris-claro);
} */

/* *************  TABLAS **************************/
.p-datatable table {
  border: solid 1px var(--color-gris-neutro);
}

.p-datatable .p-datatable-thead>tr>th {
  background-color: var(--color-azul-principal);
  color: var(--color-blanco);
  font-size: var(--tamanio-fuente-tabla);
  text-align: center;
}

.p-datatable .p-datatable-tbody>tr>td {
  border: solid 1px var(--color-gris-neutro);
  padding: 5px 10px;
  font-size: 14px;
}

.p-datatable .p-datatable-tbody>tr:nth-child(even) {
  background: var(--color-gris-claro);
}

.p-datatable .p-datatable-tbody>tr:hover {
  background: var(--color-turqueza-claro);
  cursor: pointer;
}

.p-paginator {
  background: var(--color-azul-principal);
  color: var(--color-blanco);
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: var(--color-turqueza-claro);
  border-color: var(--color-turqueza-claro);
  color: var(--color-gris-fuerte);
  border-radius: 50%;
}

.p-paginator .p-paginator-pages .p-paginator-page {
  border-radius: 50%;
  min-width: 1.7rem;
  height: 1.7rem;
  padding: 5px;
  color: var(--color-blanco);
  font-size: 14px;
  font-weight: 600;
}

.p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight):hover {
  background: var(--color-gris-claro);
  border-color: transparent;
}

.p-paginator .p-paginator-first,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-last {
  border-radius: 50%;
  min-width: 1.5rem;
  height: 1.5rem;
  color: var(--color-blanco);
}

.p-datatable button.p-button.p-component.p-button-icon-only.p-button-rounded.p-button-secondary.p-button-text.color-rojo {
  color: var(--color-coral-fuerte);
  background-color: transparent;
  border-color: transparent;
}

.p-datatable button.p-button.p-component.p-button-icon-only.p-button-rounded.p-button-secondary.p-button-text.color-amarillo {
  color: var(--color-naranja-claro);
  background-color: transparent;
  border-color: transparent;
}

.p-datatable button.p-button.p-component.p-button-icon-only.p-button-rounded.p-button-secondary.p-button-text.color-verde {
  color: var(--color-verde-fuerte);
  background-color: transparent;
  border-color: transparent;
}

.p-datatable button.p-button.p-component.p-button-icon-only.p-button-rounded.p-button-text {
  color: var(--color-azul-fuerte);
  background-color: transparent;
  border-color: transparent;
  font-size: 20px;
  margin: 0;
}

.p-datatable button.p-button.p-component.p-button-icon-only.p-button-rounded.p-button-text:focus,
button.p-button.p-component.p-button-icon-only.p-button-rounded.p-button-secondary.p-button-text.color-rojo:focus,
button.p-button.p-component.p-button-icon-only.p-button-rounded.p-button-secondary.p-button-text.color-amarillo:focus,
button.p-button.p-component.p-button-icon-only.p-button-rounded.p-button-secondary.p-button-text.color-verde:focus {
  background: var(--color-turqueza-claro);
  border: none;
  box-shadow: 0 0 0 0;
}

/************** combos select*************/
.p-select {
  display: inline-flex;
  cursor: pointer;
  position: relative;
  user-select: none;
  /* border: solid 0.5px var(--color-gris-neutro); */
  /* background: var(--p-select-background); */
}

.p-select-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background: transparent;
  border: solid 0.5px var(--color-gris-neutro);
  /* color: var(--p-select-dropdown-color); */
  /* width: var(--p-select-dropdown-width); */
  /* border-top-right-radius: var(--p-select-border-radius); */
  /* border-bottom-right-radius: var(--p-select-border-radius); */
}

/* .p-select-option.p-select-option-selected.p-focus {
  background: var(--color-azul-principal);
  color: var(--color-blanco);
} */
.p-select-option.p-focus {
  background: var(--color-azul-principal);
  color: var(--color-blanco);
}

/* .p-select-option.p-select-option-selected {
  background: var(--color-azul-principal);
  color: var(--color-blanco);
} */



.p-select-option {
  cursor: pointer;
  font-weight: normal;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  /* padding: var(--p-select-option-padding); */
  border: 0 none;
  /* color: var(--p-select-option-color); */
  background: var(--color-blanco);
  /* transition: background 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s, outline-color 0.2s; */
  /* border-radius: var(--p-select-option-border-radius); */
}

/* span.p-select-trigger-icon.pi.pi-chevron-down {
  margin-top: -2px;
  color: var(--color-gris-neutro);
} */

/* .p-select.p-component.p-inputwrapper {
width: 100%;
}

span.p-select-trigger-icon.pi.pi-chevron-down {
  margin-top: -2px;
  color: var(--color-gris-neutro);
}

.p-select .p-select-option.p-placeholder {
  color: var(--color-gris-fuerte);
}

.p-select:not(.p-disabled).p-focus {
  border: solid 2px var(--color-gris-neutro);
  box-shadow: none;
}

.p-select:not(.p-disabled):hover {
  border: solid 1px var(--color-gris-neutro);
}

.p-select {
  border-radius: 0;

  .p-select-trigger:hover {
    background-color: var(--color-celeste);
    border-left: solid 1px var(--color-gris-claro);
  }
}

.p-paginator-bottom .p-select.p-component.p-inputwrapper {
  width: 50px;
  height: auto;
  border-top: none;
}

.p-paginator-bottom .p-select-trigger {
  background-color: var(--color-azul-principal) !important;
  text-decoration-color: var(--color-blanco);
}

.p-paginator-bottom svg.p-icon.p-select-trigger-icon {
  color: var(--color-blanco);
}

.p-paginator-bottom span.p-select-option.p-inputtext {
  width: 30px;
  display: flex;
  color: white !important;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 20px 10px 5px;
  background-color: #0c4597;
}

*/
.ancho-100 {
  width: var(--ancho-100);
}

.texto-centrado {
  text-align: center !important;
}

.texto-izquierda {
  text-align: left;
}

.relleno-10 {
  padding: 10px;
}

.p-step {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  opacity: 0.7;
}

.p-step-header {
  border: 0 none;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  /* transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s,
    outline-color 0.2s,
    box-shadow 0.2s; */
  border-radius: 0px;
  outline-color: transparent;
  background: transparent;
  padding: 0px;
  gap: 0.5rem;
}

.p-step-number::after {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: var(--p-stepper-step-number-shadow);
}

.p-stepper-separator {
  height: 5px;
  border: 1px solid #aab2bd;
  background: transparent;
  flex: 1 1 0;
  /* background: var(--p-stepper-separator-background); */
  width: 100%;
  /* height: var(--p-stepper-separator-size); */
  /* transition: background var(--p-stepper-transition-duration), color var(--p-stepper-transition-duration), border-color var(--p-stepper-transition-duration), box-shadow var(--p-stepper-transition-duration), outline-color var(--p-stepper-transition-duration); */
}

.p-step:has(~ .p-step-active) .p-stepper-separator {
  background: var(--color-amarillo-claro);
}

.p-step-title {
  white-space: normal;
  font-size: 16px;
  display: block;
  margin: 0;
  color: #434a54;
  font-weight: bold;
}

.p-step.p-step-active {
  opacity: 1;
}

.p-step-active .p-step-title {
  /* color: #434a54; */
  font-weight: 600;
  font-weight: 18px;
}

/* .p-step .p-step-active .p-step-number:hover {
  background: var(--color-turqueza-claro);
  border-color: 1px solid #e9ecef;
  color: var(--color-gris-fuerte);
}
*/
.p-step.p-step-active .p-step-number {
  background: var(--color-amarillo-claro);
}

/* .p-step.p-step-active .p-step-number {
  background: var(--color-amarillo-claro);
} */

.p-step:not(.p-step-active) .p-step-number:hover {
  background: var(--color-turqueza-claro);
  border-color: 1px solid #e9ecef;
  color: var(--color-gris-fuerte);
}

/* .p-step .p-stepper-separator {
  content: ' ';
  border-top: 1px solid #dee2e6;
  width: 100%;
  top: 50%;
  left: 0;
  display: block;
  position: absolute;
  margin-top: -1rem;
} */
.p-step-number {
  color: #434a54;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color-gris-claro);
  background: var(--color-blanco);
  min-width: 2rem;
  height: 2rem;
  line-height: 2rem;
  font-size: 1.143rem;
  z-index: 1;
  border-radius: 50%;
  position: relative;
  font-weight: bold;
}

/**********************STEP******************************/
/* .p-steps .p-steps-item .p-menuitem-link {
  font-size: 1rem;
  margin-left: 2px;
  padding: 3px 8px;
  background-color: var(--color-blanco);
  transition: none;
  font-weight: bold;
}

.p-steps .p-steps-item .p-menuitem-link .p-steps-number {
  background-color: var(--color-turqueza-claro);
  color: var(--color-gris-fuerte);
}

.p-steps .p-steps-item.p-highlight .p-steps-title {
  white-space: normal;
  font-size: 18px;
  display: block;
  margin: 0;
}

.p-steps .p-steps-item:before {
  border: 1px solid var(--color-gris-neutro);
  height: 5px;
}

.p-steps .p-steps-item .p-menuitem-link:not(.p-disabled):focus {
  outline: 0 none;
  outline-offset: 0;
}

.p-steps .p-steps-item .p-menuitem-link .p-steps-number:hover {
  background-color: var(--color-turqueza-claro);
  background-color: var(--color-amarillo-claro);
}

.p-steps a.p-menuitem-link.router-link-active.router-link-active-exact {
  background-color: var(--color-azul-fuerte);
  height: 10px;
  width: 100px;
  border-radius: 0;
  margin-top: 10px;
}

.p-steps .p-steps-item.p-highlight .p-steps-number,
span.p-steps-number {
  z-index: 100;
  position: relative;
} */

/* .p-steps .p-steps-item.p-highlight .p-steps-title {
  z-index: 200;
  position: absolute;
} */

/* body .ui-steps .ui-steps-item.ui-state-disabled {
  border: solid 1px #aab2bd;
}

body .ui-steps .ui-steps-item.ui-state-highlight {
  border: solid 1px #4077ba;
  background-color: #4077ba !important;
} */


.linea {
  border-top: 1px solid var(--color-gris-neutro);
  height: 2px;
  width: 100%;
  padding: 5px;
  margin: 20px auto 0 auto;
}

/*******DatePicker**********/
.p-datepicker {
  width: 100%;
}

.p-datepicker table th,
.p-datepicker table td {
  padding: 0;
}

.p-datepicker .p-datepicker-header {
  padding: 0;
  border-radius: 0;
}

.p-datepicker table {
  font-size: 12px;
  margin: 0;
}

.p-datepicker table td>span {
  width: auto;
  height: 2rem;
}

.p-datepicker:not(.p-datepicker-inline) .p-datepicker-header {
  background-color: var(--color-azul-principal);
}

.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year,
.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month {
  color: var(--color-blanco);
  font-size: 12px;
}

span.p-yearpicker-year {
  font-size: 14px;
}

span.p-datepicker-prev-icon.pi.pi-chevron-left:before {
  color: var(--color-blanco);
  content: '\25C0';
}

span.p-datepicker-next-icon.pi.pi-chevron-right:before {
  color: var(--color-blanco);
  content: '\25b6';
}

.p-datepicker-calendar thead {
  background-color: var(--color-gris-claro);
}

.p-datepicker .p-datepicker-header .p-datepicker-prev:enabled:hover,
.p-datepicker .p-datepicker-header .p-datepicker-next:enabled:hover {
  border-color: transparent;
  background-color: var(--color-azul-claro);
  color: var(--color-gris-fuerte);
}

.p-datepicker table td>span.p-highlight {
  background: var(--color-celeste);
}

.p-datepicker:not(.p-disabled) table td span:not(.p-highlight):not(.p-disabled):hover {
  background: var(--color-turqueza-claro);
}

span.p-datepicker-prev-icon.pi.pi-chevron-left {
  margin-top: -5px;
}

span.p-datepicker-decade {
  color: var(--color-blanco);
  font-size: 12px;
  padding: 3px;
}

.p-datepicker .p-monthpicker {
  font-size: 12px;
  margin: 0px;
}

.p-datepicker .p-datepicker-header .p-datepicker-title {
  white-space: nowrap;
}

span.p-datepicker-decade:hover,
.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year:enabled:hover,
.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month:enabled:hover {
  color: var(--color-blanco);
  background-color: var(--color-azul-claro);
}
