/**
 * Estilos para los componentes del sistema SRI
 * Usa el sistema de componentes.css en español
 */

.contenido-form {
  font-size: (--tamanio-fuente-campo);
  padding: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #434a54;
}

.titulo h1,
.titulo {
  font-size: var(--tamanio-titulo);
  text-align: left;
  font-weight: bold;
  -webkit-margin-before: 3px;
  -webkit-margin-after: 5px;
}

.instrucciones {
  font-size: var(--tamanio-fuente-instruccion);
  margin-top: 2px;
  margin-bottom: 7px;
  text-align: left;
}

.resumenDataTable {
  font-weight: bold;
  margin-top: 2px;
  margin-bottom: 7px;
  text-align: center;
}

.subtitulo {
  font-size: var(--tamanio-subtitulo);
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: left;
}

.descripcion {
  font-size: var(--tamanio-fuente-instruccion);
  margin-top: -2px;
  margin-bottom: 7px;
}

h2 {
  font-size: var(--tamanio-subtitulo);
}

h3 {
  font-size: var(--tamanio-fuente-h3);
  text-align: left;
}

h4 {
  font-size: var(--tamanio-fuente-h4);
}

h5 {
  font-size: var(--tamanio-fuente-h5);
  text-align: left;
}

h6 {
  font-size: var(--tamanio-fuente-h6);
  text-align: left;
}

.p-component {
  font-family: var(--font-family);
  font-feature-settings: var(--font-feature-settings, normal);
  font-size: 1rem;
  font-weight: normal;
}

.negrilla,
label {
  font-weight: 600;
}

.linea {
  border-top: 1px solid var(--color-gris-neutro);
  height: 2px;
  width: 100%;
  padding: 5px;
  margin: 20px auto 0 auto;
}

/******************* Mensajes y notificaciones *************************/

.p-message {
  margin-top: 20px;
  border-radius: 0;
  outline-style: initial;

  .p-message-text {
    color: var(--color-blanco);
    font-size: var(--tamanio-fuente-alerta);
    margin-bottom: 0px;
    font-weight: 600;
    text-align: left;
  }

  .p-message-wrapper {
    padding: 0.5rem 1rem;
  }

  &.p-message-error,
  &.p-message-warn,
  &.p-message-success,
  &.p-message-info {
    border: none;

    .p-message-wrapper,
    .p-message-icon {
      color: var(--color-blanco);
      padding: 1rem 1rem;
      font-size: 22px;
    }
  }

  &.p-message-error {
    background-color: var(--color-coral-fuerte);
  }

  &.p-message-warn {
    background-color: var(--color-amarillo-claro);

    .p-message-text {
      color: var(--color-gris-fuerte);
    }

    .p-message-icon {
      color: var(--color-gris-fuerte);
    }
  }

  &.p-message-success {
    background-color: var(--color-verde-fuerte);

    .pi-check:before {
      font-family: 'sri-icon', Arial, Helvetica, sans-serif;
      content: '\e92a';
    }
  }

  &.p-message-info {
    background-color: var(--color-azul-informacion);
  }
}

.pi-exclamation-triangle:before {
  font-family: 'sri-icon', Arial, Helvetica, sans-serif;
  content: '\e90c';
}

.p-inlinemessage.p-inlinemessage-error {
  color: var(--color-coral-fuerte);
}

/* Input  - Textarea*/
input,
.p-inputtext {
  height: 25px;
  border: solid 0.5px var(--color-gris-neutro);
  padding: 0 2px;
  border-radius: 0;
  color: var(--color-gris-fuerte);
  width: 100%;
  font-size: 1rem;
}

textarea {
  border: solid 0.5px var(--color-gris-neutro);
  padding: 0 2px;
  border-radius: 0;
  color: var(--color-gris-fuerte);
  min-height: 75px !important;
  width: 100%;
  resize: none !important;
}

input:focus-visible,
.p-inputtext:focus-visible {
  outline: 0 none;
}

/* input:active,
input:focus, */
.p-inputtext:active,
.p-inputtext:focus,
.p-inputtext:enabled:focus,
.p-inputtext:hover,
textarea:active,
textarea:focus {
  outline: 0 none;
  text-decoration: none;
  border: none;
  border-color: transparent;
  border-bottom: solid 2px var(--color-azul-principal);
  box-shadow: 0;
}

input::placeholder,
textarea::placeholder,
.p-inputtext::placeholder,
.p-inputtext:enabled:hover {
  font-style: italic;
  margin-block: auto;
  border-color: var(--color-azul-principal);
}

input.p-inputtext.p-component .p-disabled:hover {
  border-bottom: none;
}

/********************* paneles de dialo, modales*/
.p-dialog {
  border-radius: 0;
}

.p-dialog-footer .centrar-botones {
  display: inherit;
}

.p-dialog .p-dialog-header {
  padding: 20px 20px 20px 20px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.p-dialog .p-dialog-content {
  padding: 0 20px 20px 20px;
  overflow-y: inherit;
}

.p-dialog .p-dialog-content [x='400'] {
  display: grid;
  width: 360px;
  grid-template-columns: 100px 160px 100px;
}

.p-dialog .p-dialog-content [x='450'] {
  display: grid;
  width: 410px;
  grid-template-columns: 100px 160px 150px;
}

.p-dialog .p-dialog-content [x='500'] {
  display: grid;
  width: 460px;
  grid-template-columns: 140px 160px 160px;
}

.p-dialog .p-dialog-content [x='600'] {
  display: grid;
  width: 560px;
  /*20px a cada lado de padding*/
  grid-template-columns: 160px 220px 160px;
}

.p-dialog .p-dialog-content [x='700'] {
  display: grid;
  width: 660px;
  /*20px a cada lado de padding*/
  grid-template-columns: 220px 240px 180px;
}

.p-dialog .p-dialog-content [x='800'] {
  display: grid;
  width: 760px;
  grid-template-columns: 220px 340px 200px;
}

.icono-info {
  font-size: 22px;
  color: var(--color-azul-principal);
}

/******** tooltip primevue ***********/
.p-tooltip .p-tooltip-text {
  background-color: var(--color-celeste);
  color: var(--color-gris-fuerte);
  font-size: 12px;
  border-radius: 4px;
  padding: 3px;
}

/********************************************/
/************* botones **********************/
/********************************************/

/********** boton principal **************/
button.p-button {
  margin: var(--btn-espaciado);
  background-color: var(--btn-principal);
  border-color: var(--btn-principal);
  border-radius: var(--btn-border-radius);
  font-weight: 500;
  font-size: var(--btn-tamanio-fuente);
  height: var(--btn-tamanio-y);
  width: auto;
  color: var(--btn-principal-fuente-color);
  padding: 0 25px;
}

button.p-button:hover,
button.p-button:enabled:hover {
  background-color: var(--btn-principal-hover);
  border-color: var(--btn-principal-hover);
}

button.p-button:active,
button.p-button:enabled:active {
  background-color: var(--btn-principal-activo);
  border-color: var(--btn-principal-activo);
}

/********** boton secundario (cancel) **************/
button.p-button.p-button-secondary,
button.p-buttonset.p-button-secondary>button.p-button,
button.p-splitbutton.p-button-secondary>button.p-button {
  background-color: var(--btn-secondary);
  border-color: var(--color-gris-claro);
  color: var(--color-gris-fuerte);
}

button.p-button.p-button-secondary:enabled:hover,
button.p-buttonset.p-button-secondary>button.p-button:enabled:hover,
button.p-splitbutton.p-button-secondary>button.p-button:enabled:hover {
  background-color: var(--btn-secondary-hover);
  border-color: var(--color-gris-claro);
  color: var(--color-gris-fuerte);
}

button.p-button.p-button-secondary:active,
button.p-button.p-button-secondary:enabled:active,
button.p-buttonset.p-button-secondary>button.p-button:enabled:active,
button.p-splitbutton.p-button-secondary>button.p-button:enabled:active {
  background-color: var(--btn-secondary-activo);
  border-color: var(--color-gris-claro);
  color: var(--color-gris-fuerte);
}

/********** boton exito **************/
button.p-button.p-button-success,
button.p-buttonset.p-button-success>button.p-button,
button.p-splitbutton.p-button-success>button.p-button {
  background-color: var(--btn-success);
  border-color: var(--btn-success);
  color: var(--btn-success-fuente-color);
}

button.p-button.p-button-success:hover,
button.p-button.p-button-success:enabled:hover,
button.p-buttonset.p-button-success>button.p-button:enabled:hover,
button.p-splitbutton.p-button-success>button.p-button:enabled:hover {
  background-color: var(--btn-success-hover);
  border-color: var(--btn-success-hover);
}

button.p-button.p-button-success:active,
button.p-button.p-button-success:enabled:active,
button.p-buttonset.p-button-success>button.p-button:active,
button.p-splitbutton.p-button-success>button.p-button:active {
  background-color: var(--btn-success-activo) !important;
  border-color: var(--btn-success-activo) !important;
}

/********** boton warning **************/
button.p-button.p-button-warning,
button.p-buttonset.p-button-warning>button.p-button,
button.p-splitbutton.p-button-warning>button.p-button {
  background-color: var(--btn-warning);
  border-color: var(--btn-warning);
  color: var(--btn-warning-fuente-color);
}

button.p-button.p-button-warning:hover,
button.p-button.p-button-warning:enabled:hover,
button.p-buttonset.p-button-warning>button.p-button:enabled:hover,
button.p-splitbutton.p-button-warning>button.p-button:enabled:hover {
  background: var(--btn-warning-hover);
  color: var(--btn-warning-fuente-color);
  border-color: var(--btn-warning-hover);
}

button.p-button.p-button-warning:active,
button.p-button.p-button-warning:enabled:active,
button.p-buttonset.p-button-warning>button.p-button:enabled:active,
button.p-splitbutton.p-button-warning>button.p-button:enabled:active {
  background: var(--btn-warning-activo);
  color: var(--btn-warning-fuente-color);
  border-color: var(--btn-warning-activo);
}

/********** boton info **************/
button.p-button.p-button-info,
button.p-buttonset.p-button-info>button.p-button,
button.p-splitbutton.p-button-info>button.p-button {
  background: var(--btn-info);
  border-color: var(--btn-info);
}

button.p-button.p-button-info:hover,
button.p-button.p-button-info:enabled:hover,
button.p-buttonset.p-button-info>button.p-button:enabled:hover,
button.p-splitbutton.p-button-info>button.p-button:enabled:hover {
  background: var(--btn-info-hover);
  border-color: var(--btn-info-hover);
}

button.p-button.p-button-info:active,
button.p-button.p-button-info:enabled:active,
button.p-buttonset.p-button-info>button.p-button:enabled:active,
button.p-splitbutton.p-button-info>button.p-button:enabled:active {
  background: var(--btn-info-activo);
  border-color: var(--btn-info-activo);
}

/********** boton help **************/
button.p-button.p-button-help,
button.p-buttonset.p-button-help>button.p-button,
button.p-splitbutton.p-button-help>button.p-button {
  background: var(--btn-celeste);
  border-color: var(--btn-celeste);
  color: var(--btn-celeste-fuente);
}

button.p-button.p-button-help:enabled:hover,
button.p-buttonset.p-button-help>button.p-button:enabled:hover,
button.p-splitbutton.p-button-help>button.p-button:enabled:hover {
  background: var(--btn-celeste-hover);
  color: var(--btn-celeste-fuente);
  border-color: var(--btn-celeste-hover);
}

button.p-button.p-button-help:enabled:active,
button.p-buttonset.p-button-help>button.p-button:enabled:active,
button.p-splitbutton.p-button-help>button.p-button:enabled:active {
  background: var(--btn-celeste-activo);
  color: var(--btn-celeste-fuente);
  border-color: var(--btn-celeste-activo);
}

/********** boton con icono agregar **************/
button.p-button.p-component.p-button-icon-only.p-button-secondary.p-button-plus {
  color: var(--color-verde-fuerte);
  font-weight: 900;
  font-size: 20px;
  border: none;
}

span.pi.pi-plus.p-button-icon:before {
  font-family: 'sri-icon', Arial, Helvetica, sans-serif;
}

/********** Fieldset *************/
.p-fieldset {
  border: 1px solid var(--color-gris-neutro);
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.p-fieldset .p-fieldset-legend {
  width: 100%;
  background-color: var(--color-azul-principal);
  border: none;
  border-radius: 0;
  padding: 0.5rem;
  align-items: flex-start;
  display: flex;
  font-weight: 600;
}

.p-fieldset-legend-label {
  font-weight: 600;
}

.p-fieldset.p-fieldset-toggleable .p-fieldset-legend {
  transition: none;
}

.p-fieldset-content {
  padding: var(--espaciado-rejilla);
}

.p-fieldset.p-fieldset-toggleable .p-fieldset-legend button {
  justify-content: left;
  color: var(--color-blanco);
  font-size: 14px;
  padding: 0.5rem;
}

.p-fieldset-legend>button,
.p-fieldset-legend>span {
  justify-content: left;
  color: var(--color-blanco);
  font-size: 14px;
}

.p-fieldset.p-fieldset-toggleable .p-fieldset-legend:hover {
  background-color: var(--color-azul-principal);
}

.p-fieldset.p-fieldset-toggleable .p-fieldset-legend button:hover {
  color: var(--color-gris-medio);
  background-color: var(--color-celeste);
  border: 1px solid var(--color-gris-neutro);
  width: 100%;
}

span.p-fieldset-toggler.pi.pi-plus:before {
  content: '\25bc';
}

span.p-fieldset-toggler.pi.pi-minus:before {
  content: '\25B6';
}

.p-fieldset .p-fieldset-content {
  text-align: left;
}

/***** borde celeste *********/
.p-fieldset.p-fieldset-toggleable .p-fieldset-legend a:focus {
  box-shadow: none;
}

.p-panelmenu {
  gap: 0;
}

/*************** tab*****************************/

.p-tab {
  padding: var(--p-tabs-tab-padding);
  border: 2px solid var(--color-gris-claro);
  color: var(--color-azul-principal);
  font-weight: 600;
  font-size: 16px;
}

.p-tab:not(.p-tab-active):hover {
  background-color: #daeef6;
  border-radius: 0;
  border-bottom: 1.5px solid #4fc1ea;
  border-right: 2px solid #e7eaee;
}

.p-tabpanel {
  color: var(--color-gris-fuerte);
  text-align: left;
}

.p-tab-active {
  background: var(--color-amarillo-claro);
  border-radius: 0;
  color: var(--color-gris-fuerte);
  border-color: var(--color-amarillo-claro);
}

/********************************************************************************/
/**************************** RADIO BUTTONS *************************************/
/********************************************************************************/

/************************* radio button normal ******************************/
.p-radiobutton .p-radiobutton-box {
  border: 2px solid var(--rbn-color-normal);
  background-color: var(--rbn-color-normal-background);
  width: 20px;
  height: 20px;
}

/************************* radio button selecionado ******************************/
.p-radiobutton-checked .p-radiobutton-box {
  border: 2px solid var(--btn-color-seleccionado) !important;
  background-color: transparent !important;
}

.p-radiobutton-checked .p-radiobutton-box .p-radiobutton-icon,
.p-radiobutton-checked .p-radiobutton-box .p-radiobutton-icon:hover {
  background-color: var(--btn-color-seleccionado) !important;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

/************************* radio button desabilitado ******************************/
.p-radiobutton.p-disabled .p-radiobutton-box {
  border: 2px solid var(--btn-color-desabilitado) !important;
  background-color: var(--btn-color-desabilitado-background) !important;
}

.p-radiobutton.p-disabled .p-radiobutton-box .p-radiobutton-icon,
.p-radiobutton.p-disabled .p-radiobutton-box .p-radiobutton-icon:hover {
  background-color: var(btn-color-desabilitado) !important;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

/************************* label del radio button ******************************/
.p-radiobutton+label {
  margin-left: 8px;
  font-size: var(--tamanio-fuente-campo);
  color: var(--color-gris-fuerte);
  cursor: pointer;

  &.p-disabled {
    color: var(--color-gris-neutro);
    cursor: not-allowed;
  }
}

/* *************  TABLAS **************************/
.p-datatable table {
  border-collapse: collapse;
}

.p-datatable .p-datatable-thead>tr>th,
.p-datatable .p-datatable-thead>tr>th .p-column-header-content {
  background-color: var(--color-azul-principal);
  color: var(--color-blanco);
  font-size: var(--tamanio-fuente-tabla);
  text-align: center;
  border-right: 2px solid var(--color-blanco);
}

.p-datatable .p-datatable-thead>tr>th:last-child {
  border-right: none;
}

.p-datatable .p-datatable-thead>tr>th .p-datatable-column-header-content {
  justify-content: center;
  align-items: center;
}

.p-datatable .p-datatable-tbody>tr>td {
  border: solid 2px var(--color-gris-neutro);
  padding: 0px 10px;
  font-size: 14px;
}

.p-datatable .p-datatable-tbody>tr:nth-child(even) {
  background: var(--color-gris-claro);
}

.p-datatable .p-datatable-tbody>tr:hover {
  background: var(--color-turqueza-claro);
  cursor: pointer;
}

.p-datatable .p-datatable-tbody>tr>td:last-child {
  text-align: center;
}

.p-datatable-paginator-bottom .p-paginator {
  background: var(--color-azul-principal);
  color: var(--color-blanco);
  border-radius: 0px;
  font-size: var(--tamanio-fuente-paginador);
}

.p-datatable-paginator-bottom .p-paginator .p-paginator-pages .p-paginator-page {
  border-radius: 50%;
  min-width: 1.7rem;
  height: 1.7rem;
  padding: 5px;
  color: var(--color-blanco);
  font-size: var(--tamanio-fuente-paginador);
  font-weight: 600;
}

.p-datatable-paginator-bottom .p-paginator .p-paginator-pages .p-paginator-page.p-paginator-page-selected {
  background: var(--color-turqueza-claro);
  border-color: var(--color-turqueza-claro);
  color: var(--color-gris-fuerte);
}

.p-datatable-paginator-bottom .p-select,
.p-datatable-paginator-bottom .p-select:not(.p-disabled).p-focus,
.p-datatable-paginator-bottom .p-select:not(.p-disabled):hover,
.p-datatable-paginator-bottom .p-select:hover {
  /* background-color: transparent;
  border-radius: 0px;
  border: 2px solid var(--color-blanco); */
  width: initial;
}

.p-datatable-paginator-bottom .p-select .p-select-label {
  color: var(--color-blanco);
  font-size: var(--tamanio-fuente-paginador);
  border: 0.5px solid var(--color-gris-neutro);
  font-weight: 600;
  padding: 5px;
}

.p-datatable-paginator-bottom .p-select .p-select-dropdown {
  color: var(--color-blanco);
  /* margin: -10px -5px 0 -15px; */
}

.p-datatable-paginator-bottom .p-paginator .p-paginator-first,
.p-datatable-paginator-bottom .p-paginator .p-paginator-prev,
.p-datatable-paginator-bottom .p-paginator .p-paginator-next,
.p-datatable-paginator-bottom .p-paginator .p-paginator-last {
  border-radius: var(--btn-datable-paginator-border-radius);
  min-width: 1.5rem;
  height: 1.5rem;
  color: var(--color-blanco);
}

.p-datatable-paginator-bottom .p-paginator svg.p-icon {
  width: var(--icono-size-datable-paginator-bottom);
  height: var(--icono-size-datable-paginator-bottom);
}

.p-datatable-paginator-bottom .p-select .p-select-dropdown svg.p-icon {
  width: var(--icono-size-datable-paginator-dropdown);
  height: var(--icono-size-datable-paginator-dropdown);
}

.p-select-overlay {
  border-radius: 0px !important;
}

.p-datatable button.p-button.p-component.p-button-icon-only.p-button-rounded.p-button-secondary.p-button-text.color-rojo {
  color: var(--color-coral-fuerte);
  background-color: transparent;
  border-color: transparent;
}

.p-datatable button.p-button.p-component.p-button-icon-only.p-button-rounded.p-button-secondary.p-button-text.color-amarillo {
  color: var(--color-naranja-claro);
  background-color: transparent;
  border-color: transparent;
}

.p-datatable button.p-button.p-component.p-button-icon-only.p-button-rounded.p-button-secondary.p-button-text.color-verde {
  color: var(--color-verde-fuerte);
  background-color: transparent;
  border-color: transparent;
}

.p-datatable button.p-button.p-component.p-button-icon-only.p-button-rounded.p-button-text {
  color: var(--color-azul-informacion);
  background-color: transparent;
  border-color: transparent;
  font-size: 20px;
  margin: 0;
  padding: 5px 5px 5px 5px;
}

.p-datatable-column-title {
  font-weight: 600;
}

/* *************  TABLAS **************************/
/* .p-datatable table {
  border: solid 1px var(--color-gris-neutro);
}

.p-datatable .p-datatable-thead > tr > th {
  background-color: var(--color-azul-principal);
  color: var(--color-blanco);
  font-size: var(--tamanio-fuente-tabla);
  text-align: center;
}

.p-datatable .p-datatable-tbody > tr > td {
  border: solid 1px var(--color-gris-neutro);
  padding: 5px 10px;
  font-size: 14px;
}

.p-datatable .p-datatable-tbody > tr:nth-child(even) {
  background: var(--color-gris-claro);
}

.p-datatable .p-datatable-tbody > tr:hover {
  background: var(--color-turqueza-claro);
  cursor: pointer;
}

.p-paginator {
  background: var(--color-azul-principal);
  color: var(--color-blanco);
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: var(--color-turqueza-claro);
  border-color: var(--color-turqueza-claro);
  color: var(--color-gris-fuerte);
  border-radius: 50%;
}

.p-paginator .p-paginator-pages .p-paginator-page {
  border-radius: 50%;
  min-width: 1.7rem;
  height: 1.7rem;
  padding: 5px;
  color: var(--color-blanco);
  font-size: 14px;
  font-weight: 600;
}

.p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight):hover {
  background: var(--color-gris-claro);
  border-color: transparent;
}

.p-paginator .p-paginator-first,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-last {
  border-radius: 50%;
  min-width: 1.5rem;
  height: 1.5rem;
  color: var(--color-blanco);
}

.p-datatable
  button.p-button.p-component.p-button-icon-only.p-button-rounded.p-button-secondary.p-button-text.color-rojo {
  color: var(--color-coral-fuerte);
  background-color: transparent;
  border-color: transparent;
}

.p-datatable
  button.p-button.p-component.p-button-icon-only.p-button-rounded.p-button-secondary.p-button-text.color-amarillo {
  color: var(--color-naranja-claro);
  background-color: transparent;
  border-color: transparent;
}

.p-datatable
  button.p-button.p-component.p-button-icon-only.p-button-rounded.p-button-secondary.p-button-text.color-verde {
  color: var(--color-verde-fuerte);
  background-color: transparent;
  border-color: transparent;
}

.p-datatable button.p-button.p-component.p-button-icon-only.p-button-rounded.p-button-text {
  color: var(--color-azul-fuerte);
  background-color: transparent;
  border-color: transparent;
  font-size: 20px;
  margin: 0;
}

.p-datatable button.p-button.p-component.p-button-icon-only.p-button-rounded.p-button-text:focus,
button.p-button.p-component.p-button-icon-only.p-button-rounded.p-button-secondary.p-button-text.color-rojo:focus,
button.p-button.p-component.p-button-icon-only.p-button-rounded.p-button-secondary.p-button-text.color-amarillo:focus,
button.p-button.p-component.p-button-icon-only.p-button-rounded.p-button-secondary.p-button-text.color-verde:focus {
  background: var(--color-turqueza-claro);
  border: none;
  box-shadow: 0 0 0 0;
} */

/************** combos select*************/
.p-select {
  display: inline-flex;
  cursor: pointer;
  position: relative;
  user-select: none;
  width: 100%;
}

.p-select-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background: var(--color-azul-principal);
  border-left: 0 none;
  color: var(--color-blanco);
  width: 2.5rem;
}

.p-select-option.p-focus {
  background: var(--color-gris-claro);
}

.p-select-option.p-select-option-selected {
  background: #e3f2fd;
}

.p-select-option {
  cursor: pointer;
  font-weight: normal;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  color: var(--color-gris-fuerte);
  background: var(--color-blanco);
}

.p-datepicker-panel:not(.p-datepicker-inline) .p-datepicker-header {
  background-color: #0c4597;
}

.p-datepicker-panel .p-datepicker-header {
  /* padding: 0.5rem; */
  color: #495057;
  background: #ffffff;
  font-weight: 600;
  margin: 0;
  border-bottom: 1px solid #dee2e6;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.p-datepicker-panel .p-datepicker-header .p-datepicker-title .p-datepicker-select-year,
.p-datepicker-panel .p-datepicker-header .p-datepicker-title .p-datepicker-select-month,
.p-datepicker-panel .p-datepicker-header .p-datepicker-title .p-datepicker-decade {
  color: #fff;
  font-size: 12px;
}

.p-datepicker-panel .p-datepicker-header .p-datepicker-prev-button,
.p-datepicker-panel .p-datepicker-header .p-datepicker-next-button {
  width: 2rem;
  height: 2rem;
  color: #6c757d;
  border: 0 none;
  background: transparent;
  border-radius: 50%;
  transition: background-color 0.2s,
    color 0.2s,
    box-shadow 0.2s;
  outline-color: transparent;
  padding: 0;
  margin: 0;
}

.p-datepicker-panel .p-datepicker-header .p-datepicker-prev-button:enabled:hover,
.p-datepicker-panel .p-datepicker-header .p-datepicker-next-button:enabled:hover {
  border-color: transparent;
  background-color: #6598d1;
  color: #434a54;
}

.ancho-100 {
  width: var(--ancho-100);
}

.texto-centrado {
  text-align: center !important;
}

.texto-izquierda {
  text-align: left;
}

.relleno-0 {
  padding: 0;
}

.relleno-10 {
  padding: 10px;
}

.p-step {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  opacity: 0.7;
}

.p-step-header {
  border: 0 none;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0px;
  outline-color: transparent;
  background: transparent;
  padding: 0px;
  gap: 0.5rem;
}

.p-step-number::after {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: var(--p-stepper-step-number-shadow);
}

.p-stepper-separator {
  height: 5px;
  border: 1px solid #aab2bd;
  background: transparent;
  flex: 1 1 0;
  width: 100%;
}

.p-step:has(~ .p-step-active) .p-stepper-separator {
  background: var(--color-amarillo-claro);
}

.p-step-title {
  white-space: normal;
  font-size: 16px;
  display: block;
  margin: 0;
  color: #434a54;
  font-weight: bold;
}

.p-step.p-step-active {
  opacity: 1;
}

.p-step-active .p-step-title {
  font-weight: 600;
  font-weight: 18px;
}

.p-step.p-step-active .p-step-number {
  background: var(--color-amarillo-claro);
}

.p-step:not(.p-step-active) .p-step-number:hover {
  background: var(--color-turqueza-claro);
  border-color: 1px solid #e9ecef;
  color: var(--color-gris-fuerte);
}

.p-step-number {
  color: #434a54;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color-gris-claro);
  background: var(--color-blanco);
  min-width: 2rem;
  height: 2rem;
  line-height: 2rem;
  font-size: 1.143rem;
  z-index: 1;
  border-radius: 50%;
  position: relative;
  font-weight: bold;
}

/*******DatePicker**********/
.p-datepicker {
  width: 100%;
}

.p-datepicker-calendar thead {
  background-color: var(--color-gris-claro);
}

.p-datepicker-day-view {
  font-size: 12px;
}

.p-datepicker-day {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  transition: background 0.2s,
    color 0.2s,
    border-color 0.2s,
    box-shadow 0.2s,
    outline-color 0.2s;
  border: 1px solid transparent;
  outline-color: transparent;
}

.p-datepicker-day-selected {
  background: #a6d5fa;
}

.p-datepicker-day:not(.p-datepicker-day-selected):not(.p-disabled):hover {
  background: #daeef6;
}

.p-datepicker-panel {
  width: auto;
  background: var(--color-blanco);
  border: 1px solid var(--color-gris-claro);
  border-radius: 6px;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1),
    0px 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.p-datepicker-dropdown {
  cursor: pointer;
  display: inline-flex;
  user-select: none;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 3.5rem;
  background: var(--color-azul-principal);
  border-left: 0 none;
  color: var(--color-blanco);
  transition: background 0.2s,
    color 0.2s,
    border-color 0.2s,
    outline-color 0.2s;
  outline-color: transparent;
}