/*!
	* Nombre: _sri_vue_variables_responsivo_v2.css
	* Descripcion: Variables globales para las hojas de estilos para el Sistema Vue).
	* Dependencias: N/A
	* Autor: Planificacion TI  - LRodriguez
	* Copyright SRI-2023
    */

:root {
  /* Colores principales */
  --color-azul-principal: #0c4597;
  --color-rojo-logo: #e2231a;
  --color-azul-fuerte: #4077ba;
  --color-azul-claro: #6598d1;


  /* Colores grises */
  --color-gris-medio: #656d78;
  --color-gris-fuerte: #434a54;
  --color-gris-tenue: #f5f7fa;
  --color-gris-claro: #e7eaee;
  --color-gris-neutro: #aab2bd;
  --color-blanco: #fff;
  --color-blanco-hueso: #fcf8e4;
  --color-blanco-piel: #f1dede;
  --color-negro: #000;

  /* Colores adicionales */
  --color-violeta-claro: #a390c4;
  --color-violeta-fuerte: #7b6aaf;
  --color-celeste: #daeef6;
  --color-turqueza-claro: #d3e9e4;
  --color-turqueza-fuerte: #2f836e;

  --color-cyan-claro: #4fc1ea;
  --color-cyan-fuerte: #1d799a;
  --color-verde-claro: #a1c96a;
  --color-verde-fuerte: #597f2e;

  --color-coral-claro: #f3aab6;
  --color-coral-fuerte: #d73747;

  --color-amarillo-claro: #fece56;
  --color-amarillo-fuerte: #976707;
  --color-naranja-claro: #ffa424;
  --color-naranja-fuerte: #c82f1b;

  /* Tamaños de fuente */
  --fuente-principal: Roboto, Arial, Helvetica, sans-serif;
  --tamanio-titulo: 32px;
  --tamanio-subtitulo: 24px;
  --tamanio-fuente-h3: 20px;
  --tamanio-fuente-h4: 18px;
  --tamanio-fuente-h5: 14px;

  --tamanio-fuente-10: 10px;
  --tamanio-fuente-11: 11px;
  --tamanio-fuente-13: 13px;
  --tamanio-fuente-miga: 12px;
  --tamanio-fuente-instruccion: 16px;
  --tamanio-fuente-alerta: 14px;
  --tamanio-fuente-step: 18px;
  --tamanio-fuente-campo: 14px;
  --tamanio-fuente-placeholder: 14px;
  --tamanio-fuente-paginador: 14px;
  --tamanio-fuente-tabla: 14px;
  --tamanio-fuente-24: 24px;
  --tamanio-fuente-25: 25px;
  --tamanio-fuente-32: 32px;

  /* Tamaños de iconos */
  --tamanio-icono-informacion: 39px;
  --tamanio-icono-confirmacion-ventana: 137px;
  --tamanio-icono-modal: 60px;
  --tamanio-icono-alerta: 25px;
  --tamanio-icono-tabla: 20px;
  --tamanio-icono-formulario: 20px;

  /* Botones */
  --btn-principal: var(--color-azul-principal);
  --btn-principal-hover: hsl(215, 85%, 22%);
  --btn-principal-activo: hsl(215, 85%, 42%);
  --btn-principal-fuente-color: var(--color-blanco);

  --btn-success: var(--color-verde-fuerte);
  --btn-success-hover: hsl(88, 48%, 24%);
  --btn-success-activo: hsl(88, 48%, 44%);
  --btn-success-fuente-color: var(--color-blanco);

  --btn-warning: var(--color-naranja-claro);
  --btn-warning-hover: hsl(35, 100%, 47%);
  --btn-warning-activo: hsl(35, 100%, 67%);
  --btn-warning-fuente-color: var(--color-gris-fuerte);

  --btn-secondary: var(--color-blanco);
  --btn-secondary-hover: var(--color-gris-claro);
  --btn-secondary-activo: var(--color-blanco-hueso);
  --btn-secondary-fuente-color: var(--color-gris-fuerte);

  --btn-info: var(--color-cyan-fuerte);
  --btn-info-hover: hsl(196, 68%, 26%);
  --btn-info-activo: hsl(196, 68%, 46%);
  --btn-info-fuente-color: var(--color-blanco);

  --btn-celeste: var(--color-celeste);
  --btn-celeste-hover: var(--color-cyan-claro);
  --btn-celeste-activo: var(--color-turqueza-claro);
  --btn-celeste-fuente: var(--color-gris-fuerte);

  --btn-color-deshabilitado: 50%;
  --btn-tamanio-y: 33px;
  --btn-tamanio-fuente: 12px;
  --btn-espaciado: 10px;
  --btn-padding-x: 25px;
  --btn-border-radius: 5px;
  --btn-datable-paginator-border-radius: 50%;

  /* Espaciados */
  --y-antes-titulo: 20px;
  --y-antes-subtitulo: 10px;
  --y-antes-instruccion: 10px;
  --y-antes-alerta: 10px;
  --y-despues-seccion: 15px;
  --y-despues-campos: 10px;
  --x-entre-campos: 10px;

  /* Modales */
  --modal-espaciado-y: 20px;
  --modal-tamanio-x: 400px;
  --modal-tamanio-x-small: 350px;
  --modal-img-tamanio-y: 90px;
  --modal-padding: 20px;
  --modal-icono-tamanio: var(--tamanio-icono-modal);

  /* Componentes de formularios */
  --relleno-campo: 2px;
  --btn-tamanio-icono: 25px;
  --check-tamanio: 20px;
  --item-fuente-tamnio: 12px;

  /* Páginas de error */
  --tamanio-icono-pag-error: 133px;
  --tamanio-titulo-pag-error: 40px;
  --tamanio-fuente-pag-error: 14px;
  --color-fuente-pag-error: var(--color-coral-fuerte);

  /* Ancho / Alto */
  --ancho-100: 100%;
  --alto-100: 100%;

  /*** tabs ***/
  --p-tabs-tab-padding: 0.6rem;

  /*** radio button ******/
  --rbn-color-normal: var(--color-gris-neutro);
  --rbn-color-normal-background: var(--color-blanco);
  --btn-color-seleccionado: var(--color-azul-fuerte);
  --btn-color-desabilitado: var(--color-gris-neutro);
  --btn-color-desabilitado-background: var(--color-gris-claro);

  /*** tamanio iconos ******/
  --icono-size-informacion: 39px;
  --icono-size-confirmacion-ventana: 137px;
  --icono-size-modal: 60px;
  --icono-size-alerta: 25px;
  --icono-size-tabla: 20px;
  --icono-size-formulario: 20px;
  --icono-size-datable-paginator-bottom: 25px;
  --icono-size-datable-paginator-dropdown: 15px;
}